.btn{
  margin-right: 15px;
  
}
.icon{
	color: #0c0e10;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.icon:hover {
  color:#343eca;
  -webkit-transform: scale(1.3);
 -moz-transform: scale(1.3);
 -ms-transform: scale(1.3);
 -o-transform: scale(1.3);
 transform: scale(1.3); 
}